<footer class="gov-footer">
  <div class="container-fluid gov-footer__main px-sm-3 px-lg-5">
    <div class="row pt-5">
      <div class="col-lg-4 col-md-6 mb-5">
        <img class="logo" src="../../../assets/img/LogoOBservatorio.png" alt="Observatorio Apurimac">
        <p class="gov-footer__intro mt-4 mb-4">
          Plataforma regional de informacion, seguimiento territorial y articulacion institucional para fortalecer la respuesta publica.
        </p>
        <div class="gov-footer__social">
          <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 mb-5">
        <h5 class="text-white text-uppercase mb-4">Portal</h5>
        <div class="d-flex flex-column justify-content-start">
          <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Sobre nosotros</a>
          <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Noticias</a>
          <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Infografias</a>
          <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Videos</a>
          <a class="text-white-50"><i class="fa fa-angle-right mr-2"></i>Repositorio</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-5">
        <h5 class="text-white text-uppercase mb-4">Enlaces utiles</h5>
        <div class="d-flex flex-column justify-content-start">
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Instrumentos de gestion</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Mecanismos de articulacion</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Protocolos base</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Centro de altos estudios</a>
          <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Estudios y reportes</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-5">
        <h5 class="text-white text-uppercase mb-4">Contacto institucional</h5>
        <div class="gov-footer__contact">
          <p><i class="fa fa-map-marker-alt mr-2"></i>Av. institucional, Abancay - Apurimac</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+51 999 999 999</p>
          <p><i class="fa fa-envelope mr-2"></i>observatorio@apurimac.gob.pe</p>
        </div>

        <div class="gov-footer__newsletter">
          <h6 class="text-white text-uppercase mb-3">Boletin informativo</h6>
          <p class="text-white-50 mb-3">Recibe novedades, publicaciones y actualizaciones del observatorio.</p>
          <div class="gov-footer__newsletter-form">
            <input type="text" class="form-control border-light" placeholder="Correo institucional o personal">
            <button class="btn btn-primary">Suscribirme</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid gov-footer__bottom text-white border-top py-4 px-sm-3 px-md-5">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0 text-white-50">Copyright &copy; Gobierno Regional de Apurimac. Todos los derechos reservados.</p>
      </div>
      <div class="col-lg-6 text-center text-md-right">
        <p class="m-0 text-white-50">Demo visual institucional desarrollada para presentacion profesional.</p>
      </div>
    </div>
  </div>
</footer>
